<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Alicia_D_v5_6_gripper_100mm">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="hw_port" default="" />
    <xacro:arg name="hw_debug_mode" default="false" />
    <xacro:arg name="hw_gripper_type" default="100mm" />
    <xacro:arg name="hw_default_speed_deg_s" default="20.0" />

    <!-- Import alicia_d_descriptions urdf file for v5_6 100mm -->
    <xacro:include filename="$(find alicia_d_descriptions)/urdf/Alicia_D_v5_6/Alicia_D_v5_6_gripper_100mm.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="alicia_d_descriptions.ros2_control.xacro" />

    <!-- Use ros2_control with configurable hardware interface -->
    <xacro:alicia_d_descriptions_ros2_control 
        name="AliciaDHardware" 
        initial_positions_file="$(arg initial_positions_file)"
        hw_port="$(arg hw_port)"
        hw_gripper_type="$(arg hw_gripper_type)"
        hw_default_speed_deg_s="$(arg hw_default_speed_deg_s)"/>

</robot>

